#box 
{
    margin-top: 5%;
    border-radius: 1%;
    background-color: #1c1c1c;
    color: #11f6ee;
    padding: 5px;
    width: max-content;
}

#graph_list_title 
{
    font-size: x-large;
    font-weight: bold;
}

#add 
{
    color: #11f6ee;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

#box li
{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

#graph_input 
{
    text-align: center;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.delete_button 
{
    background: none;
    color:white;
    border: none;
    float: right;
    cursor: pointer;
}